<div class="row review">
  <div class="col-sm-8">
  <h4><%= name %></h4>
  </div>
  <div class="col-sm-8">
  <%= description %>
  </div>
  <div class="col-sm-4 stars">
  <%= rating.to_s %> stars
  </div>
  <% if current_user %>
  <% if current_user.id == creator %>
  <%= form_for :products, url: destroy_review_path(review_id) do |form| %>
  <%= form.submit 'Delete', class: 'btn btn-danger' %>
  <%end%>
  <%end%>
  <%end%>
</div>

