<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

  <article>
    <h2 class="page-header">Reviews</h2>
    <div>
    <% @reviews.each do |review| %>
      <%= render 'review', review_id: review[:id], description: review[:description], name: review[:name], rating: review[:rating].to_i, creator: review[:creator] %>
    <% end %>
    </div>
  </article>

  <% if current_user %>
    <%= form_for :products, url: reviews_path(@product) do |form| %>
      <h2>New Review</h2>
        <div class="form-group">
          <%= form.label :rating %>
          <%= form.text_field :rating, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>
      <%= form.submit 'New Review', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

</section>
